<div>
    <form novalidate data-bind="submit: submit" enctype='multipart/form-data' method="post">
        <fieldset>
            <legend>{{caption}}</legend>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Nível</label>
                    <select name="role_id" class="form-control" data-bind="options: roles,optionsValue: 'id',optionsText: 'name',value: obj.role_id"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Recurso</label>
                    <select name="resource" class="form-control"  data-bind="options: resources,optionsValue: 'id',optionsText: 'name',value: obj.resource"></select>
                </div>
            </div>
            <label class="checkbox-inline">
              <input type="hidden" name="action_read" value="0">
              <input type="checkbox" data-bind="checked: obj.action_read" name="action_read" value="1"> Ler
            </label>
            <label class="checkbox-inline">
                <input type="hidden" name="action_write" value="0">
                <input type="checkbox" data-bind="checked: obj.action_write" name="action_write" value="1"> Gravar
            </label>
            <label class="checkbox-inline">
              <input type="hidden" name="action_remove" value="0">
              <input type="checkbox" data-bind="checked: obj.action_remove" name="action_remove" value="1"> Excluir
            </label>
            <div>
                <hr />
                <button type="submit" class="btn btn-primary" data-loading-text="Aguarde...">{{!!id ? 'Atualizar' : 'Gravar'}}</button>
                <a data-bind="attr: {href: '#'+resource}" class="btn">Voltar</a>
            </div>
        </fieldset>
    </form>
</div>