<div>
    <form novalidate data-bind="submit: submit" enctype='multipart/form-data' method="post">
        <fieldset>
            <legend>{{caption}}</legend>
            <div class='form-group row'>
                <div class="col-md-3">
                    <label class='control-label' for='name'>Nome</label>
                    <input  class="form-control" type='text' maxlength="255" name='name' data-bind="value: obj.name" required title='Digite um nome.'>
                </div>
            </div>
            <div class='form-group row'>
                <div class="col-md-3">
                    <label class='control-label' for='description'>Descrição</label>
                    <input  class="form-control" type='text' maxlength="255" name='description' data-bind="value: obj.description" required title='Digite uma descrição.'>
                </div>
            </div>
            <div>
                <hr />
                <button type="submit" class="btn btn-primary" data-loading-text="Aguarde...">{{!!id ? 'Atualizar' : 'Gravar'}}</button>
                <a data-bind="attr: {href: '#'+resource}" class="btn">Voltar</a>
            </div>
        </fieldset>
    </form>
</div>